/* Colors */
:root {
  --background-hero-footer: #2f303a;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
}

ul {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

:root {
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.page-header,
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  padding-left: 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .navigation__list {
    display: none;
  }
}

.header-contact {
  padding-left: 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 84px;
    font-size: 12px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .icon-mail {
    width: 14px;
    height: 10px;
  }

  .icon-phone {
    width: 10px;
    height: 14px;
  }
}
.navigation__link:not(:last-child),
.header-contact__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
}

.navigation__list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.navigation__list .link:hover, .navigation__list .link:focus, .navigation__list .link.current-navigation {
  color: var(--accent-color);
}

.current-navigation::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation__logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.accent {
  color: var(--accent-color);
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .header-contact__item {
    padding: 5px 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact__link {
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-contact__icon {
  margin-right: 10px;
}

/* PORTFOLIO */
/* header */
.page-header-line {
  border: 1px solid #ececec;
}

@media screen and (max-width: 767.98px) {
  .header {
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 1;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform var(--time) var(--cubic);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic), -webkit-transform var(--time) var(--cubic);
}
.mobile-menu .container {
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu-open {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: #ffffff;
}
@media screen and (min-width: 767.98px) {
  .mobile-menu-open {
    display: none;
  }
}

.mobile-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: #ffffff;
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}
.mobile-menu-close:hover, .mobile-menu-close:focus {
  fill: var(--accent-color);
}

.mob-navigation {
  padding-left: 25px;
}

.mob-navigation__item {
  margin-bottom: 32px;
}

.mob-navigation__item:last-child {
  margin-bottom: 0;
}

.mob-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-header-contact {
  margin-bottom: 64px;
  padding-left: 25px;
}

.mob-header-contact__item:first-child {
  margin-bottom: 32px;
}

.mob-header-contact-phone {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 479.98px) {
  .mob-header-contact-phone {
    font-size: 34px;
  }
}

.mob-header-contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 479.98px) {
  .mob-header-contact-mail {
    font-size: 24px;
  }
}

.mob-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 15px;
}

.mob-network__item {
  padding: 0 10px;
}

.mob-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-network__item:last-child {
  margin-right: 0;
}

.mob-network__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 479.98px) {
  .mob-network__link {
    font-size: 18px;
  }
}

.mob-current-navigation {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-hero-footer);
  color: var(--primary-white-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  height: 400px;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/480/Header480_1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/480/Header480_1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/480/Header480_2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/480/Header480_2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/768/Header768_1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/768/Header768_1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/768/Header768_2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/768/Header768_2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/1200/Header1200_1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/1200/Header1200_1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/1200/Header1200_2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/1200/Header1200_2x.jpg);
  }
}
.hero__name {
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.66;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 767.98px) {
  .hero__name {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__name {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: none;
}

.about {
  padding-top: 0px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.about-content li + li {
  margin-left: 30px;
}

.about-content__list {
  position: relative;
}

.about-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-name h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.benefits-content {
  margin-bottom: -30px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .benefits-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits-content__text {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-content__text {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-content__text {
    width: calc(25% - 30px);
  }
}

.benefits h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 767.98px) {
  .benefits h3 {
    text-align: left;
  }
}

.benefits p {
  line-height: 1.71;
}

.benefits-background {
  background: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company {
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -30px;
}
@media screen and (min-width: 319.98px) {
  .company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.company__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 319.98px) {
  .company__item {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .company__item {
    width: calc(33.3333333333% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .company__item {
    width: calc(16.6666666667% - 30px);
    margin-left: 30px;
  }
}

.company__link {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border var(--time) var(--cubic), fill var(--time) var(--cubic);
  transition: border var(--time) var(--cubic), fill var(--time) var(--cubic);
}
.company__link:focus, .company__link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-hero-footer);
  padding: 60px 0;
}

.navigation-footer-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .navigation-footer-logo {
    font-size: 26px;
  }
}

.footer .navigation-footer-logo {
  color: var(--primary-white-color);
}

.footer-adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  margin-top: 20px;
}

.footer-contacts {
  padding-left: 0px;
}

.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--time) var(--cubic);
  transition: color var(--time) var(--cubic);
}
.footer-contacts a:hover, .footer-contacts a:focus {
  color: var(--accent-color);
}

.footer-contacts__link {
  margin-top: 9px;
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .footer-tablet-flex {
    margin-bottom: 60px;
  }
}

.footer-right {
  text-align: center;
  width: 206px;
  height: 80px;
}
@media screen and (max-width: 767.98px) {
  .footer-right {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-right {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-right {
    margin-right: 93px;
    text-align: left;
  }
}

.footer-left {
  text-align: center;
}
@media screen and (max-width: 767.98px) {
  .footer-left {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-left {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-left {
    margin-right: 70px;
    text-align: left;
  }
}

.footer-right__name,
.footer-form__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-right__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-right__link {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  -webkit-transition: background-color var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic);
}
.footer-right__link:hover, .footer-right__link:focus {
  background-color: var(--accent-color);
}

.footer-right__item + .footer-right__item {
  margin-left: 10px;
}

/* Footer input */
@media screen and (min-width: 1200px) {
  .footer-input-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) {
  .footer-form {
    text-align: center;
  }
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--background-hero-footer);
  margin-right: 0px;
  padding: 15px 16px;
  outline: none;
}
@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 1200px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-hero-footer);
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-hero-footer);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-hero-footer);
}
.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-hero-footer);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-hero-footer);
}

.footer-form__button {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  padding-left: 29px;
}

.footer-form__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}

.backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity var(--time) var(--cubic);
  transition: opacity var(--time) var(--cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 479.98px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}
.modal h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal h2 {
    line-height: 1.17;
  }
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}
.modal-button-close:hover, .modal-button-close:focus {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field__input {
  position: relative;
}

.modal-field__name {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-field__text {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border-color var(--time) var(--cubic);
  transition: border-color var(--time) var(--cubic);
}

.modal-field__text:focus {
  border-color: var(--accent-color);
}

.modal-field__text:focus + .modal-field__icons {
  fill: var(--accent-color);
}

.modal-field__text.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}
.modal-field__text.comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__text.comment::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__text.comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__text.comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-field__text.comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-field__text.comment::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .modal-field__text.comment::-moz-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .modal-field__text.comment:-ms-input-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .modal-field__text.comment::-ms-input-placeholder {
    font-size: 12px;
    line-height: 14px;
  }
  .modal-field__text.comment::placeholder {
    font-size: 12px;
    line-height: 14px;
  }
}

.modal-field__icons {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
}

.modal-check {
  margin-bottom: 30px;
}

.modal-check__text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .modal-check__text {
    font-size: 14px;
    line-height: 24px;
  }
}
.modal-check__text span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--secondary-text-color);
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--time) var(--cubic), border var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), border var(--time) var(--cubic);
}

.modal-check__conditions {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .modal-check__conditions {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal-check__icon {
  fill: transparent;
  -webkit-transition: fill var(--time) var(--cubic);
  transition: fill var(--time) var(--cubic);
  width: 16px;
  height: 15px;
}

.modal-check__input:checked + .modal-check__text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check__input:checked + .modal-check__text .modal-check__icon {
  fill: var(--primary-white-color);
}

.modal-button-send {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}

.team {
  background-color: #f5f4fa;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-card {
  margin-bottom: -30px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-card__name {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-card__name {
    width: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card__name {
    width: calc(25% - 30px);
  }
}

.team-table {
  padding: 30px 32px;
}

.team-network-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-network-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: background-color var(--time) var(--cubic), fill var(--time) var(--cubic);
  transition: background-color var(--time) var(--cubic), fill var(--time) var(--cubic);
}
.team-network-list__link:hover, .team-network-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

.team-network-list__item + .team-network-list__item {
  margin-left: 10px;
}

.section-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .section-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .section-filter li:nth-child(-n+3) {
    margin-bottom: 21px;
  }

  .section-filter li:nth-child(4) {
    margin-left: 0;
  }
}
.section-filter__btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  -webkit-transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
  transition: color var(--time) var(--cubic), background-color var(--time) var(--cubic), box-shadow var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
}

.section-filter__btn:hover,
.section-filter__btn:focus,
.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-filter li + li {
  margin-left: 8px;
}

.cards {
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
}
.cards h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.cards p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.cards .cards__wrap-text {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(135%);
          transform: translateY(135%);
  -webkit-transition: -webkit-transform var(--time) var(--cubic);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic), -webkit-transform var(--time) var(--cubic);
}

.cards__wrap {
  position: relative;
  overflow: hidden;
}

.cards__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__link:hover .cards__wrap-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards__item {
  -webkit-transition: -webkit-box-shadow var(--time) var(--cubic);
  transition: -webkit-box-shadow var(--time) var(--cubic);
  transition: box-shadow var(--time) var(--cubic);
  transition: box-shadow var(--time) var(--cubic), -webkit-box-shadow var(--time) var(--cubic);
}
@media screen and (min-width: 768px) {
  .cards__item {
    margin-right: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    margin-right: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.cards__item:hover, .cards__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767.98px) {
  .cards__item {
    margin-bottom: 30px;
  }

  .cards__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards__item:nth-child(2n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item:nth-child(3n) {
    margin-right: 0px;
  }
}
.cards__item-name {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}/*# sourceMappingURL=main.css.map */