.about {
  padding-top: 0px;
}
.about-content {
  display: flex;
  padding-left: 0px;
}

.about-content li + li {
  margin-left: 30px;
}
.about-content__list {
  position: relative;
}
.about-name {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
