.company {
  padding: 0px;
  display: flex;
  justify-content: center;
}
.company__item:not(:last-child) {
  margin-right: 30px;
}
.company__link {
  display: block;
  margin: 0px;
  padding: 0px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border var(--time) var(--cubic), fill var(--time) var(--cubic);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}
