.footer {
  background-color: var(--background-hero-footer);
  padding: 60px 0;
}

.footer .navigation__logo {
  color: var(--primary-white-color);
  margin-right: 0px;
}
.footer-adress {
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-white-color);
  margin-top: 20px;
}
.footer-contacts {
  padding-left: 0px;
}
.footer-contacts a {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts__link {
  margin-top: 9px;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-right {
  width: 206px;
  height: 80px;
  margin-right: 93px;
}
.footer-left {
  margin-right: 70px;
}
.footer-right__name,
.footer-form__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-right__list {
  padding: 0;
  display: flex;
  justify-content: center;
}
.footer-right__link {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition: background-color var(--time) var(--cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-right__item + .footer-right__item {
  margin-left: 10px;
}
/* Footer input */
.footer-input-flex {
  display: flex;
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--background-hero-footer);
  margin-right: 12px;
  padding: 15px 16px;
  outline: none;

  &::placeholder {
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--background-hero-footer);
  }
}

.footer-form__button {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  padding-left: 29px;
}
.footer-form__icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
