.page-header,
.navigation {
  display: flex;
  align-items: center;
}

.navigation__list,
.header-contact {
  padding-left: 0px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.navigation__link:not(:last-child),
.header-contact__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  position: relative;
}
.navigation__list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus,
  &.current-navigation {
    color: var(--accent-color);
  }
}

.current-navigation::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.navigation__logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.header-contact {
  margin-left: auto;
}
.header-contact__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.header-contact__icon {
  margin-right: 10px;
}

/* PORTFOLIO */
/* header */
.page-header-line {
  border: 1px solid #ececec;
}
