.section-filter__btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--secondary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color var(--time) var(--cubic),
    background-color var(--time) var(--cubic),
    box-shadow var(--time) var(--cubic);
}
.section-filter__btn:hover,
.section-filter__btn:focus,
.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.section-filter li + li {
  margin-left: 8px;
}
